# Build artifacts
bin/
obj/

# User-specific files
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs and debug
*.log
*.tlog
*.cache
*.pdb

# IDE and editor files
.idea/
*.iml
*.vs/

# .NET MAUI specific
.platforms/
AppPackages/
BundleArtifacts/
DerivedData/
project.lock.json
